<h2>Панель администратора</h2>

<div class="list-group">
    <a asp-action="Users" class="list-group-item list-group-item-action">Список пользователей</a>
    <a asp-action="Books" class="list-group-item list-group-item-action">Список книг</a>
</div>